# Compiled files and build directories from LaTeX projects
*\build
*.latexmkrc
*.synctex.gz
*.bbl
*.bcf

# Deep Learning Tex recipe
*.aux
*.fdb_latexmk
*.fls
*.log
*.out

# Test or Copy files
*_copy.*
*_test.*

# Variables de entorno
.env